@import "../../style/sass//m_pack_mixins";
.homeContainer {
  background: linear-gradient(to bottom, #000099 0%, #0000ff 100%);
  min-height: calc(100vh - 66px);
  height: 100%;
  position: relative;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  &__bg {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:before {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      background: hsla(240, 100%, 40%, 0.4);
    }
  }
}
.contentContainer {
  max-width: 600px;
  margin: auto;
  position: relative;
  text-align: center;
  height: 100%;
  padding-top: 60px;
  h2 {
    font-family: "Josefin Sans", sans-serif;
    // font-family: "Leckerli One", sans-serif;
    font-family: "Itim", sans-serif;
    color: hsl(240, 100%, 98%);
    font-style: normal;
    font-weight: bold;
    font-weight: 800;
    font-size: 58px;
    line-height: 64px;
  }
  p {
    font-family: "Itim", sans-serif;
    color: hsl(240, 100%, 90%);
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    margin-top: 10px;
  }
  &__link {
    margin-top: 30px;
    a {
      display: inline-block;
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 32px;
      color: hsl(240, 100%, 30%);
      text-decoration: none;
      padding: 10px 50px;
      @include border(2px solid hsl(240, 100%, 90%));
      margin-bottom: 20px;
      background: hsl(240, 100%, 97%);
      @include box-shadow(0px 4px 20px hsla(240, 100%, 90%, 0.6));
      @include border-radius(5px);
      cursor: pointer;
      @include transition(all 0.3s);
      &:hover,
      &:focus {
        @include box-shadow(0px 4px 20px hsla(240, 100%, 90%, 0.1));
        @include transition(all 0.3s);
        color: hsl(240, 100%, 97%);
        background: transparent;
      }
    }
  }
}
.packGrid {
  display: -moz-grid;
  display: -ms-grid;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  column-gap: 30px;
  row-gap: 30px;
  padding: 100px 0;
}
@media only screen and (max-width: 1200px) {
  .packGrid {
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  }
}
@media only screen and (max-width: 991px) {
  .packGrid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}
